.templateTitle {
  display: inline-block;
  padding-right: 10px;
  color: #333;
  margin-bottom: -8px;
}

.field-block {
  min-height: 0 !important;
}

.naruse-template-content-upload-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.upload-picture-part {
  display: inline-block;
  padding: 0px 15px;
  margin-right: 10px;
}

.upload-picture-part-icon {
  width: 1em;
  height: 1em;
  margin-right: 10px;
}

.naruse-template-content-preview-picture-btn {
  margin-left: 10px;
}

.ant-form-item {
  margin: 0 0 12px;
}

form .ant-row .ant-form-item.fr-field {
  margin: 0 0 6px;
}

form .fr-panel.fr-panel-bordered {
  padding: 24px;
}
